@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 30%
  );
  text-align: center;
}
button {
  background-color: rgb(104, 174, 236);
  width: 3rem;
  height: 2rem;
  border-radius: 8px;
  margin: 5px;
  font-weight: 500;
}
select {
  width: 24rem;
  height: 1.5rem;
}
